//PRIMARY
$primarylight: #F2EDFC;
$primarymedium: #8960E6;
$primarydark: #3A168D;
//NEUTRAL
$neutrallight: #FFFFFF;
$neutralmedium: #A3A3A3;
$neutraldark: #997D0A;
//SECONDAY
$secondarylight: #ECF0FE;
$secondarymedium: #5279F4;
$secondarydark: #0A2C99;
//HIGHLIGHT
$highlightlight: #FEFAEC;
$highlightmedium: #F4D452;
$highlightdark: #000000;